{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Blockchain{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blocks.open') }}">Open</a>
    <a class="action" href="{{ url_for('blocks.open') }}">Close</a>
    
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}